body {
    padding-top: 50px;
    /*background: #f9f9f9;*/
}
.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}
/*.msg-div {
    position: fixed;
    right: 0;
    left: 0;
    top: 55px;
}*/
#msgBox{
    position: fixed;
    right: 0;
    left: 0;
    top: 55px;
}